<h1><%= "#{@user.user_name}" %></h1>
<% if current_user && current_user.admin? %>
<p><%= link_to 'Edit Account', edit_user_url %> | <%= link_to "Delete Account", @user, method: :delete, data: {confirm: "Are you sure you want to delete your account?"}  %></p>
<% end %>
<p><%= "Email: #{@user.email}" %></p>
<p><%= "Phone: #{@user.phone}" %></p>

<h1>Reservations for <%= @user.user_name %></h1>
<p>
  These are my reservations
</p>
<% @user.reservations.each do |reservation| %>
  <h4>Reservation for: <%= reservation.seats %> at <%= reservation.restaurant.name %></h4>
  <h5>At: <%= reservation.time %>, on <%= reservation.date %></h5>
  </p>
<% end %>
