<%= form_for([@restaurant, @picture]) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved</h2>
      <ul>
        <% @picture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= f.label :url, "Input URL of photo from #{@restaurant.name}"%><br>
      <%= f.text_area :url, :class => "form-control"%>
    </div>
    <div class="field">
      <%= f.label :description, "Please describe your picture of #{@restaurant.name}" %><br>
      <%= f.text_area :description, :class => "form-control" %>
    </div>
    <div class="actions"> <%= f.submit :class => "sign-in-btn"%> </div>
  </div>
  <% end %>
