<%= link_to "Back to Restaurants", restaurants_url %> | <%= link_to "Edit", edit_restaurant_path(@restaurant) %> | <%= link_to "Delete", @restaurant, method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"}  %>


<div class="container well">
  <div class="row">
    <div class="col-xs-4">
      <img src="<%= @restaurant.pictures.first.url %>" class="img-responsive" alt="" />
    </div>
    <div class="col-xs-8">
      <h1><%= @restaurant.name %></h2>
      <h3><%= @restaurant.location.capitalize %>, <%= @restaurant.cuisine.capitalize %> </h3>
      <% if current_user %>
      <%= link_to "Make a Reservation at #{@restaurant.name}", new_restaurant_reservation_url(@restaurant) %>
      <% else %>
        <p>Please <%= link_to "Log In", log_in_index_path %> to make a reservation</p>
      <% end %>
      <hr class="feature-divider">
      <p>
        This is where a Description would go Pizza pizza is a great place. his is where a Description would go Pizza pizza is a great place.his is where a Description would go Pizza pizza is a great place.his is where a Description would go Pizza pizza is a great place.his is where a Description would go Pizza pizza is a great place.his is where a Description would go Pizza pizza is a great place.his is where a Description would go Pizza pizza is a great place.
      </p>
    </div>
  </div>
  <hr class="feature-divider">
  <div class="row">
    <div class="col-xs-12">
      <h1>Reviews for <%= @restaurant.name %></h1>
      <p>
        If we had some reviews this is where the reviews would go. If we had some reviews this is where the reviews would go.If we had some reviews this is where the reviews would go.If we had some reviews this is where the reviews would go.If we had some reviews this is where the reviews would go.If we had some reviews this is where the reviews would go.If we had some reviews this is where the reviews would go.If we had some reviews this is where the reviews would go.
      </p>
      <% @restaurant.reviews.each do |review| %>
        <h4>Review rating: <%= review.rating %></h4>
        <p>
          <%= review.comment %>
          <br>
          <% if review.user != nil %>
            <em> by <%= review.user.user_name %></em>
            Added on: <%= review.created_at %>
            <% end %>
        </p>
      <% end %>
    </div>
  </div>
  <hr class="feature-divider">
  <div class="row">
    <div class="col-xs-12">
      <% if current_user %>
       <h1>New Review</h1>

       <%= form_for([@restaurant, @review]) do |f| %>
         <% if @review.errors.any? %>
           <div id="error_explanation">
             <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved</h2>
             <ul>
               <% @review.errors.full_messages.each do |msg| %>
                 <li><%= msg %></li>
               <% end %>
             </ul>
           </div>
         <% end %>
    </div>
  </div>
  <div class="row review">
    <div class="col-xs-6">

     <div class="rating">
       <%= f.label :rating, "Rate #{@restaurant.name} on a scale of 1-5", class: 'score-label' %><br>
       <%= f.radio_button(:rating, 5) %>
       <%= f.label(:rating_5, "5") %>
       <%= f.radio_button(:rating, 4 ) %>
       <%= f.label(:rating_4, "4") %>
       <%= f.radio_button(:rating, 3 ) %>
       <%= f.label(:rating_3, "3") %>
       <%= f.radio_button(:rating, 2 ) %>
       <%= f.label(:rating_2, "2") %>
       <%= f.radio_button(:rating, 1 ) %>
       <%= f.label(:rating_1, "1") %>
     </div>
     <div class="actions"> <%= f.submit %> </div>
   </div>

   <div class="col-xs-6">
     <div class="field">
       <%= f.label :comment, "Please explain your rating for #{@restaurant.name}" %><br>
       <%= f.text_area :comment %>
     </div>
   </div>
   <% end %>

     <% else %>
       <p>Please <%= link_to "Log In", log_in_index_path %> to add a review</p>
     <% end %>
  </div>
  <div class="row">
    <hr class="feature-divider">
    <div class="col-xs-12">
      <h1>Pictures from <%= @restaurant.name %></h1>

      <% @restaurant.pictures.each do |picture| %>
        <img src="<%= picture.url %>" class="img-responsive">
          <br>
          <% if picture.user != nil %>
            <em> by <%= picture.user.user_name %></em>
            Added on: <%= picture.created_at %>
            <% end %>
        </p>
      <% end %>

        <% if current_user %>
        <%= link_to "Add a Picture at #{@restaurant.name}", new_restaurant_picture_url(@restaurant) %>
        <% else %>
          <p>Please <%= link_to "Log In", log_in_index_path %> to add a picture </p>
        <% end %>
    </div>
  </div>
</div>
